/* You can add global styles to this file, and also import other style files */
.roma {
    fill: none;
    stroke: red;
}

.milan {
    fill: none;
    stroke: blue;
}

.torronto {
    fill: none;
    stroke: lime;
}